<nav class="navbar">

    <div class="navbar-container">

        <a href="../index.html" class="navbar-logo">
            <img
                src="../assets/images/logo/Logo.png"
                alt="Roster Cilegon"
            >
            <span>Roster Cilegon</span>
        </a>

        <div class="navbar-menu" id="navbarMenu">

            <a href="../index.html" class="nav-link">
                Beranda
            </a>

            <a href="../pages/product.html" class="nav-link">
                Produk
            </a>

            <a href="../pages/about.html" class="nav-link">
                Tentang Kami
            </a>

            <a href="../pages/gallery.html" class="nav-link">
                Galeri
            </a>

            <a href="../pages/reviewlist.html" class="nav-link">
                Review
            </a>

        </div>

        <a href="../pages/reviewlist.html" class="navbar-button">
            Review
        </a>

        <button
            class="navbar-toggle"
            id="navbarToggle"
            type="button"
            aria-label="Buka menu"
        >
            <span></span>
            <span></span>
            <span></span>
        </button>

    </div>

</nav>