<nav class="navbar">

    <div class="navbar-container">

        <a href="../index.html" class="navbar-logo">
            <img
                src="../assets/images/logo/Logo.png"
                alt="Roster Cilegon"
            >
            <span>Roster Cilegon</span>
        </a>

        <div class="navbar-menu" id="navbarMenu">

            <a href="#" data-page="home" class="nav-link">Beranda</a>

            <a href="#" data-page="product" class="nav-link">Produk</a>

            <a href="#" data-page="about" class="nav-link">Tentang kami</a>

            <a href="#" data-page="gallery" class="nav-link">Galeri</a>

            <a href="#" data-page="review" class="nav-link">Review</a>

        </div>

        <a href="../pages/reviewlist.html" class="navbar-button">
            Review
        </a>

        <button
            class="navbar-toggle"
            id="navbarToggle"
            type="button"
            aria-label="Buka menu"
        >
            <span></span>
            <span></span>
            <span></span>
        </button>

    </div>

</nav>